.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bordes {
    padding: 10px 15px 10px 15px;
    border: 2px solid #000;
    margin-top: 15px;
    
}
.pant-media {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    padding: 4px 2px 4px 2px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ejemplo {
    color: white;
    background-color: blue;
    padding: 2px 4px 2px 4px;
}